@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');


*{
  box-sizing: border-box;
  font-family: "Playwrite NG Modern", cursive;
  font-weight: 600;

}
body{
  text-align: center;
  background-color: lightgoldenrodyellow;
}
.App{
  text-align: center;
  position: relative;
}
.App h1{
  /* color: rgba(142, 142, 142, 0.8); */
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 3px 2px 3px rgb(211, 2, 2);
}
input{
  height: 37px;
  width: 23%;
  border: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  font-size: 17px;
}
.add{
  background-color: transparent;
  border: none;
  border: 2px solid rgb(81, 1, 1);
  height: 33px;
  font-size: 18px;
  font-weight: 600;
  width: 7%;
  margin-left: 8px;
  border-radius: 5px;
}
ul{
  position: absolute;
  top: 100%;
  left: 32%;
  width: 30%;
  display: block;
  /* border: 1px solid #000; */
  
}
li{
  margin-bottom: 12px;
  padding: 6px;
  list-style-type: none;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid rgb(81, 1, 1);
  color: #000;
  background-color: #fff;
  width: 100%;
}
.remove{
  /* background-color: blue; */
  margin-left: 25px;
}
